<div class="container" id="medio">
  <div class="row"> 
    <div class="jumbotron col-lg-6 col-sm-12 jumbotron-fluid" style="padding: 35px">
      <h3>¿Que es Onee?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget dui congue, ultrices urna et, semper metus. Nulla facilisi. Donec maximus justo ipsum, eget auctor metus egestas eu. Sed placerat lorem non rhoncus aliquam. Aliquam a maximus odio. Cras accumsan ex eget velit vestibulum, nec efficitur mauris finibus. Aliquam porta lacus sed commodo tempor. Donec feugiat tristique pretium. Fusce eget fermentum orci, a sodales arcu. Curabitur iaculis sagittis maximus. Sed euismod nulla dolor, id faucibus nibh elementum sit amet.</p>
        <p>Etiam scelerisque pellentesque neque sed tincidunt. Curabitur tempus dictum enim quis scelerisque. Vestibulum ac lacus vitae libero semper vulputate. In hac habitasse platea dictumst. Proin et urna dictum, pretium massa eget, tristique elit. Nulla facilisi. Donec maximus justo ipsum, eget auctor metus egestas eu. Sed placerat lorem non rhoncus aliquam.</p>
    </div>
  </div>
</div>

