<div class="container">
<div *ngIf="producto">
    <h2>{{ producto.name | uppercase }}</h2>
    <!-- <div><span>id: </span>{{producto.id}}</div> -->
    <div class="form-group">
      <label for="nombre">Nombre de la Miel:</label>
      <input class="form-control" [(ngModel)]="producto.name" placeholder="Ej. Miel de Trebol" id="nombre">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion de la Miel:</label>
      <textarea class="form-control" [(ngModel)]="producto.details" placeholder="Ej. Procedente de la flor de trébol" rows="4" id="descripcion"></textarea>
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input class="form-control" [(ngModel)]="producto.price" placeholder="Ej. 148" id="precio">
    </div>

    <button type="button" class="btn btn-info" (click)="save()">Guardar</button> &nbsp;
    <button type="button" class="btn btn-info" (click)="goBack()">Atras</button>
    
  </div>
</div>