/* You can add global styles to this file, and also import other style files */
/* Master Styles */
@import "~bootstrap/dist/css/bootstrap.css";

#socialNav{
	padding-right: 25px;
}


ul li {
    margin-left: 50px;
    margin-top: 50px;
}
.navbar{
	font-weight: 500;
}
.navbar-nav > li > a {
    color: #EAB766 !important;
}

.navbar-nav > li > a:hover {
    color: #FFDFAD !important;
}

.fa {
    color: #EAB766;
    border: #EAB766;
}
.fa:hover{
	color: #FFDFAD !important;
}
.active{
	border-bottom: solid 1px #EAB766;
}

@media only screen and (max-width: 991px) {
	#socialNav{
		padding-bottom: 20px;
	}
	ul li {
        margin-left: 12px;
        margin-top: 10px;
    }
}